*{
box-sizing: border-box;

}

html {
    font-family: 'Lucida Sans', sans-serif;
}


body{
    background-image: url('../css/images/bg-image.jpg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: large; 
}

.header{
    border: solid 2px color rgba(grey);
    background-color: black;
    background-image: linear-gradient( to right, blue, white);
}
 /*Flex box used for nav bar, justify content used to send buttons to the end of navbar */



/* Style the links inside the navigation bar */
.nav-bar a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.nav-bar a:hover {
  background-color: #ddd;
  color: orangered;
}

/* Add a color to the active/current link */
.nav-bar a.active {
  background-color: #2109f8;
  color: white;
}
.h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  font-size: medium;


}
.h2{
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


p{
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.flex-container { /*Flex container used as the parent container, I have added 3 children items inside the container */
  display: flex;
  flex-wrap: wrap;
    
}
.box1 {
  flex-direction: column;
  height: 750px;
  width: 300px;
  background-color:white;
  border: dotted 3px grey;
  margin: 10px;
  font-size: 36px;
  color:black;
  padding-bottom: 30px;
}
 /*Flex box used for box 2. Flex grow used to stretch the box */
.box2 {
  flex-direction: row;
  flex-grow: 1;
  height: 300px;
  width: auto;
  background-color:white;
  border: dotted grey;
  margin: 10px;
  font-size: 36px;
}

.profile{
  border: dotted 10px color grey;
  height: 200px;
  width: 200px;
  padding: 10px;
  background-image: none;

} /*Flex box used for box 3. Flex grow used to stretch the box */
.box3 { 
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 300px;
    width: auto;
    background-color:white;
    border: dotted grey 3px ;
    margin: 10px;
    font-size: 36px;
}

.footer-text{
  text-align: center;
  padding: 20px;
  color: white;
}    

.footer{
  width: 100%;
  height: 40px;
  position: fixed;
  bottom:0px;
  right: 0px;
  left:0px;
  border: solid 2px color black;
  background-color: black;
  
}




